RewriteEngine On

RewriteOptions inherit
Options +FollowSymLinks -MultiViews -Indexes
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

ErrorDocument 404 /404.php

DirectoryIndex index.php

RewriteRule ^([a-zA-Z]+)/([0-9]+) index.php?type=$1&id=$2